# Folder: models
models/classifier_pipeline_1.pkl
models/classifier_pipeline_2.pkl

# Folder: app
app/__pycache__/
app/templates/master_backup.html
app/templates/.ipynb_checkpoints/

# Folder: ML
ML/.ipynb_checkpoints/ML Pipeline Preparation-Short-checkpoint.ipynb
ML/.ipynb_checkpoints/most_common_words-checkpoint.csv
ML/.ipynb_checkpoints/ML Pipeline Preparation-checkpoint.ipynb

# Folder: ETL
ETL/.ipynb_checkpoints/
